
.card-item {
  box-sizing: border-box;
  width: 100%;
  text-align: left;

  padding: 10px;
  border-radius: var(--bRadius);

  background-color: var(--highlightColor);
  border: 2px solid var(--mainDark);
  margin-bottom: 15px;
  transition-property: border, scale, border-color, border-radius,
    background-color;
  transition-duration: 200ms;

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.card-item:hover,
.card-item:active {
    background-color: var(--hoverHighlightColor);
}
.card-button {
  color: white;
  width: 70px;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--mainDark);
  border-radius: var(--bRadius);
  padding-inline: 1em;
  padding-block: 0.2em;
}
.card-button:hover {
  background-color: var(--mainDarkBrighter);
}
.card-footer {
  display: flex;
  justify-content: right;
}
